*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
.navbar{
    height: 50px;
    width: 100vw;
    /* background-color: aqua; */
    border-bottom: 1px solid #E5E8EB;
}