* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html ,body{
  font-family: 'Prompt', sans-serif;
  height: 100%;
  width: 100%;

}

.menubar{
  height:100%;
 background-color: #5FE0BE;
  display: grid;
  grid-template-columns: 15% 65% 20%;
  grid-template-rows:10% 80% 10% ;
  justify-content: center;
  align-content: center;
 
}
#logo{
   height: 100%;
   /* background-color: #4884FF; */
  display: grid;
  justify-items: end;
    align-content: center;
  padding-right: 10%;
   border-bottom: 2px solid black;
  
}
#menu-item1{
  font-family: 'Prompt', sans-serif;
  height: 100%;
  display: flex;              
  justify-content: center;          
  align-items: center;             
  gap: 3rem;   
   border-bottom: 2px solid black; 
   border-left:2px solid black ;
   border-right:2px solid black ;
   
     
}
a{
  color: #0B2131;
   text-decoration: none;
}
a:hover{
  text-decoration:underline;
  animation-duration: 100ms;
}
#start-btn{
  
 height: 100%;
 padding: 0.5rem 1rem;
 border-bottom: 2px solid black;

}
#start-btn button{
  height: 3rem;
  width: 7rem;
  background-color:#4884FF;
  border: 2px solid #0B2131;
  color: white;

}

#home-center{
  display:grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(227, 239, 240);
  grid-row: 2/3;
  grid-column: 1/4;
  margin-top: 0;
}
#left{
  padding: 3.5rem 10rem;
  background-color: hsl(164, 68%, 63%);
}
#left h1{
  
      font-size: 46px;
      font-weight:900;
      line-height:64px;
     margin-bottom: 0rem;
     word-spacing: 1px;
        
}

#left p{
  margin-bottom: 0rem;
  margin-top: 1rem;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;     
}
#left h3{
  margin-top: 2rem;
      font-size: 16px;
      line-height:60px;
}

#left button{
     margin-top: 1.5rem;
     height: 3.5rem;
     width: 13rem;
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
     background-color: #4884FF;
     color: white;
     font-size: 17px;
     font-weight: 600;
     word-spacing: 0.2rem;
     border: none;
     box-shadow: 3px 3px 0px rgb(0, 0, 0);

}
#vector{
  
  margin-left: 3.5rem;   
  margin-top: -10px;
}
#right {
  height: 35rem;
  background-color: #F3DF6B;
  padding: 0rem 5rem;        
  align-items: center;          
  justify-content: center;      
  }
#get-free-trial:hover{
  background-color: #0B2131;

}
#right img {
  width: 100%;
  height: 100%;
  object-fit: contain;        
}
#home-bottom{
   background-color: rgb(42, 151, 165);
   grid-row: 3;
   grid-column: 1/4;
}
#body1{
  height: 100%;
  background-color: black;
}